@mixin button {
  @debug adjust-color(#6b717f, $red: 15);
  background: $primaryStrong;
  text-transform: uppercase;
  padding: 1rem;
  color: $textColorLight;
  border: none;
  transition: $transition;
}

.button {
  &--primary {
    @include button;

    &:hover {
      background: $primaryRed;
    }

    &:focus {
      outline: 1px solid black;
    }
  }
}
