.form {
  width: 50%;
  margin: auto;
  padding: 2rem;
  background: $bgSemiTransparent;
}

form {
  display: flex;
  flex-direction: column;

  & > input {
    width: 100%;
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 0.3rem;
  }
}
