@import "../../../sass/variables.sass";

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: none;
  border: none;
}

.wrapper__canvas {
  max-width: 100%;
  max-height: 100%
}
