@import "../../../sass/variables.sass";


.line {
  line-height: 1.2em;
  margin:0;
}

.animletter {
  color: inherit;
  display: inline-block;
  transition: 0.1s;
  opacity: 0;
  transform: translateY(0);
}

.animletter--animated {
  color: inherit;
  opacity: 0.2;
}
