@import "variables.sass";
@import "./utils/index";
@import "./tags/index";
@import "./components/index";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: $textColor;
  background-color: $primaryColor;
  height: 100%;
  padding: $gap;
}

a {
  color: $primaryColor;
  &:hover {
    color: $primaryStrong;
  }
}
