@import "variables.sass";

* {
  box-sizing: border-box;
}

html,
body {
  padding: $gap;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: $textColor;
  max-height: 100%;
  background-color: $primaryColor;
  box-sizing: border-box;
}

.main {
  height: 100%;
  background-color: $bgColor;
  @include boxShadow($shadow);
}
