@import "variables.sass";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: $textColor;
  background-color: $primaryColor;
  box-sizing: content-box;
}

#app {
  padding: $gap;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main {
  max-height: 100%;
  background-color: $bgColor;
  @include boxShadow($shadow);
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: hidden;
  background: #ededed;
  background: #f9f8f0;
  /* slightly visible only when we resize this element */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  z-index: 1;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.main--moveout {
  transform: scale(0.6);
}
