$primaryColor : #ea6b10
$primaryStrong : #d8450b
$bgColor : #f9f8f0
$bgDark : #ededed
$textColor : #533310
$gap : 10px

$shadow : 0 0 15px rgba(0, 0, 0, 0.8)









=boxShadow($shadow)
  box-shadow: $shadow