.env
/node_modules
/Client/dist
/Client/coverage
/jsdoc
/sassdoc
/node_modules
/server/node_modules
*.log
*.swp
/npm-debug.log
/build
*.iml
yarn.lock
package-lock.json
/.vscode
/.git
/bin
package-lock.json
.DS_Store
access.log