@import "../../../sass/variables.sass";

.page {
  width: 90%;
  height: 100%;
  margin: 10vh auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.page__content {
  margin: 0 auto;
  text-align: center;
  background-color: $bgSemiTransparent;
}

.page__title {
  text-shadow: $textShadow;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  text-align: center;
  background-color: $bgSemiTransparent;
}

.page__subtitle {
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: $primaryColor;
}
