input {
  border: 1px solid $bgDark;
  text-align: center;

  &::placeholder {
    font-size: $normal;
  }
  &:focus {
    outline: none;
    box-shadow: $shadowLight;
  }
  &[type="range"]:focus {
    box-shadow: none;
  }
}
