.notifications {
  background: $bgColor;
  position: absolute;
  width: 50vw;
  top: 20vh;
  left: calc(50% - 50vw / 2);
  z-index: 100;
  transform: translateY(-100vh);
  transition: $transition;
  @include boxShadow;
  animation-name: displayNotification;
  animation-duration: 4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &.show {
    transform: translateY(0);
  }
  .message {
    display: flex;
    padding: $gap 1em $gap 5.5em;

    &:after {
      @include pseudoElement(100%);
      font-family: "TS-icons", serif;
      color: $bgColor;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      width: 2.5em;
      left: 0;
      top: 0;
    }
    @each $type, $color in $types {
      &.#{$type}:after {
        background: $color;
      }
    }
    @each $type, $icon in $types-icons {
      &.#{$type}:after {
        content: $icon;
      }
    }
  }
}
