@import "../../../sass/variables.sass";

.headline {
  font-size: 2rem;
  color: inherit;
}

.letter {
  color: $muted;
  display: inline-block;
  transition: 0.2s;
  opacity: 0.5;
  transform: translateY(20px);
}

.letter--animated {
  color: inherit;
  opacity: 0.9;
  transform: translateY(0px);
}
