@import "../../../sass/variables.sass";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bgColor;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  /* we move this element off the canvas */
  transform: translateY(-120%);
  transition-property: transform;
  transition-duration: 0.5s;
  z-index: 3;
}

.menu__list {
  height: 100%;
  padding: 50px;
  list-style: none;
  text-align: center;
}
.menu__element {
  height: 20%;
}

.is-visible {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: translateY(0);
}

.menu__button {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: $primaryStrong;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  border: none;
}

.menu__button::before,
.menu__button::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 10px;
  width: 20px;
  height: 3px;
  background-color: #fff;
  transition-property: transform;
  transition-duration: 0.3s;
}
.menu__button::before {
  transform: rotate(45deg);
}
.menu__button::after {
  transform: rotate(135deg);
}
.menu__button:hover::before {
  transform: rotate(225deg);
}
.menu__button:hover::after {
  transform: rotate(315deg);
}

.menu__link {
  outline: none;
  text-decoration: none;
  position: relative;
  font-size: 3em;
  line-height: 1;
  display: inline-block;
}
/* Surinami */
.link--surinami {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 3em;
  color: #666;
  color: #93907e;
  padding: 0.2em 0 0.125em;
}

.link--surinami::before,
.link--surinami::after {
  content: "";
  width: 100%;
  height: 3px;
  z-index: -1;
  background: #d8450b;
  position: absolute;
  transform: scale3d(0, 1, 1);
  transition: transform 0.5s;
}

.link--surinami::before {
  right: 0;
  top: 0;
  transform-origin: 100% 50%;
}

.link--surinami::after {
  left: 0;
  bottom: 0;
  transform-origin: 0 50%;
}

.link--surinami:hover::before,
.link--surinami:hover::after,
.menu__link--selected::before,
.menu__link--selected::after {
  transform: scale3d(1, 1, 1);
}

.link--surinami span {
  position: relative;
  transition: color 0.5s;
}

.link--surinami:hover span {
  color: transparent;
  text-shadow: 1px 1px 6px #666;
}

.link--surinami span::before,
.link--surinami span::after {
  position: absolute;
  color: #fff;
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.link--surinami span::before {
  content: attr(data-letters-l);
  left: 0;
  transform: translate3d(-5px, 0, 0);
}

.link--surinami span::after {
  content: attr(data-letters-r);
  right: 0;
  transform: translate3d(5px, 0, 0);
}

.link--surinami:hover span::before,
.link--surinami:hover span::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
