.notifications {
  background: $bgDark;
  position: absolute;
  width: 50vw;
  top: 20vh;
  left: calc(50% - 50vw / 2);
  z-index: 100;
  transform: translateY(-100vh);
  transition: $transition;
  @include boxShadow;
  animation-name: displayNotification;
  animation-duration: 4s;

  &.show {
    transform: translateY(0);
  }
  .message {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: $gap;
    &.success {
      border-left: 2em solid $success;
    }
    &.error {
      background: red;
    }
  }
}
